<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <style>
      .box {
          width: 250px;
          height: 100px;
          transition: all 0.2s;
          background-color: aliceblue;
      }

      .box:hover {
          transform: translateX(5%);
          box-shadow: -1em 0.7em .4em rgba(0, 0, 0, 0.1);
      }
  </style>
  <div class="box">각종 동의서</div>    
</body>
</html>