body {
    margin: 0;
}

header {
    margin: 45px 0 0 45px;
}
.calender-container {
    overflow: auto;
}

.days-container {
    list-style: none;
    display: block;
}

.days-container li {
    float: left;
    display: block;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: white;
    border-radius: 5px;
    margin: 2px 5px;
}

.days-container li:hover {
    transform: scale(1.03);
}